bin/
libtorch/
DvsGesture/
build/
build_python/
dist/
.vscode/
*.a
*.ninja
*.so
_deps/
aedat.egg-info/
.ninja_deps
.ninja_log
rules.ninja
CMakeCache.txt
CMakeFiles/
thirdparty/
*.ipynb
.venv/
*.egg-info
__pycache__/
_build/
result
.eggs/
*.flv
.mp4
*generated.h
*.deb
release/
wheelhouse/
_skbuild
*.dist-info

# Dependencies
lz4
