libtorch/
DvsGesture/
build/
dist/
.vscode/
*.a
*.cmake
*.ninja
*.so
_deps/
aedat.egg-info/
.ninja_deps
.ninja_log
rules.ninja
CMakeCache.txt
CMakeFiles/
thirdparty/
*.ipynb
*.cmake
.venv/
*.egg-info
