[build-system]
requires = [
        "setuptools>=42",
        "scikit-build",
        "cmake>=3.20",
        "wheel",
        "pybind11",
        "ninja; platform_system!='Windows'"]
build-backend = "setuptools.build_meta"
