name: Build and test

on: pull_request

jobs:
  test-cpp:
    name: "Build and test: C++"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v16
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - run: |
          nix build
      # git lfs install && git lfs pull
      # test/aestream_test
  test-python:
    name: "Build and test: Python"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - run: |
          # Install PyTorch prerequisite
          pip install --upgrade pip
          pip3 install torch==1.10.2+cpu torchvision==0.11.3+cpu torchaudio==0.10.2+cpu -f "https://download.pytorch.org/whl/cpu/torch_stable.html"

          pip install -e .
          pip install pytest
          pytest .
