name: Build and test

on: pull_request

jobs:
  test-cpp:
    name: "Build and test: C++"
    runs-on: [ubuntu-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
        with: 
          lfs: True
      - uses: cachix/install-nix-action@v18
        with:
          nix_path: nixpkgs=channel:nixos-22.11
      - run: nix run .#test

  test-python:
    name: "Build and test: Python"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install prerequisites
        run: |
          sudo .github/deps/manylinux_dependencies.sh
          CXX=g++-10 pip install . -v
          pip install pytest
      - name: Test
        run: pytest src