name: Build and test

on: pull_request

jobs:
  test-cpp:
    name: "Build and test: C++"
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with: 
          lfs: True
      - uses: cachix/install-nix-action@v20
        with:
          nix_path: nixpkgs=channel:nixos-22.11
      - run: nix run .#test
      - run: nix build && which aestream

  test-python:
    name: "Build and test: Python"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          lfs: true
      - uses: actions/setup-python@v3
        with:
          python-version: '3.x'
      - name: Install prerequisites
        run: |
          pip install . -v
          pip install pytest
      - name: Test
        run: pytest src
      - name: Run binary
        run: aestream