name: Build and test

on: pull_request

jobs:
  test-cpp:
    name: "Build and test: C++"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: 
          lfs: True
      - uses: cachix/install-nix-action@v17
        with:
          nix_path: nixpkgs=channel:nixos-22.05
      - run: nix run .#test

  test-python:
    name: "Build and test: Python"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install prerequisites
        run: |
          sudo add-apt-repository ppa:inivation-ppa/inivation -y
          sudo apt update && sudo apt install libcaer-dev libflatbuffers-dev liblz4-dev libopencv-core-dev ninja-build -y
          pip3 install torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cpu
          CC=gcc-10 CXX=g++-10 pip install -e .
          pip install pytest
      - name: Test
        run: pytest .